.project_container-main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 10vh;

  >h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #E85360;
    @media only screen and (max-width: 1000px) {
      font-size: 2rem;
    }
  }
}